["SBARQ", ["WHNP", ["DET", "Which"], ["NP", ["NOUN", "baseball"], ["NOUN", "star"]]], ["SBARQ", ["SQ+VP", ["VERB", "stole"], ["NP", ["NP", ["NUM", "130"], ["NOUN", "bases"]], ["PP", ["ADP", "in"], ["NP+NUM", "1982"]]]], [".", "?"]]]